.feedback {
    padding: 120px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 555px;
        padding: 50px 43px 50px 40px;
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        background-color: #ffffff;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 2px;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: 1px;
            background-color: #0674ec;
        }
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #808080;
        margin-right: 19px;
    }
    &__name {
        color: #000000;
        font-size: 20px;
        font-weight: 400;
    }
    &__prof {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
    }
    &__img {
        color: #e8e8e8;
        font-family: "Linearicons - Free";
        font-size: 60px;
        font-weight: 400;
        margin-left: auto;
    }
    &__text {
        color: #555555;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 25px;
    }
}