.small-item {
    width: 361px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 31px;
    &__img {
        width: 100%;
        min-height: 230px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        &:hover {
            .small-item__overlay {
                display: block;
                background: rgba(0, 0, 0, .3);
            }
        }
        &:hover {
            .small-item__button-first,
            .small-item__button-last {
                opacity: 1;
            }
        }
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s ease;
    }
    &__button-first {
        position: absolute;
        top: 93px;
        left: 40px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 23px;
        border: 1px solid #f4f4f4;
        padding: 17px 31px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        opacity: 0;
        transition: opacity .35s ease;
        &:hover {
            color: $blue;
            background-color: #fff;
        }
    }
    &__button-last {
        position: absolute;
        top: 93px;
        right: 40px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 23px;
        border: 1px solid #f4f4f4;
        padding: 17px 31px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        opacity: 0;
        transition: opacity .35s ease;
        &:hover {
            color: $blue;
            background-color: #fff;
        }
    }
    &__content {
        padding: 30px 30px 16px;
    }
    &__title {
        color: #000000;
        font-size: 20px;
        font-weight: 500;
    }
    &__profile {
        display: flex;
        align-items: center;
        margin-top: 17px;
    }
    &__avatar {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #7347c1;
    }
    &__author {
        color: #000000;
        font-size: 15px;
        font-weight: 400;
        margin-left: 7px;
    }
    &__product {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    &__product-title {
        color: #7347c1;
        font-size: 15px;
        font-weight: 400;
        margin-left: 9px;
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 33px;
    }
    &__info {
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding-top: 15px;
        border-top: 1px solid #ececec;
    }
    &__price {
        border-radius: 15px;
        background-color: rgba($color: $blue, $alpha: 0.1);
        color: $blue;
        font-size: 15px;
        font-weight: 500;
        padding: 8px 17px;
        margin-right: 13px;
    }
    &__like {
        color: #6f7d8d;
        font-size: 15px;
        font-weight: 400;
        padding-left: 22px;
        margin-right: 16px;
        position: relative;
        &::before {
            content: '\e90f';
            position: absolute;
            left: 0;
            font-family: 'icomoon';
            color: #7f4ec2;
            font-size: 15px;
            font-weight: 400;
        }
    }
    &__basket {
        color: #0674ec;
        font-size: 15px;
        font-weight: 400;
        margin-left: auto;
        position: relative;
        padding-left: 24px;
        &::before {
            content: '\e90e';
            position: absolute;
            left: 0;
            font-family: 'icomoon';
            font-size: 15px;
            font-weight: 400;
        }
    }
    &__data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        border-top: 1px solid #ececec;
        margin-top: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 1px;
            height: 95%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #ececec;
        }
    }
    &__communication {
        display: flex;
    }
    &__date {
        color: #999999;
        font-size: 15px;
        font-weight: 400;
        padding-left: 24px;
        position: relative;
        &::before {
            content: '\e913';
            position: absolute;
            left: 0;
            font-family: 'icomoon';
            font-size: 15px;
            color: $blue;

        }
    }
    &__comment,
    &__views {
        color: #7e7e7e;
        font-size: 15px;
        padding-left: 24px;
        font-weight: 400;
        position: relative;
        &::before {
            content: '\e903';
            position: absolute;
            left: 0;
            font-family: 'icomoon';
        }
        
    }
    &__views {
        margin-left: 31px;
        &::before {
            content: '\e912'
        }
    }
}