.category-header {
  padding-top: 86px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #441c7c;
  background-image: linear-gradient(to left, #0d3ef2 0%, #4c1f9c 100%);
  opacity: 0.9;
  &__title {
    color: #f3f3f8;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  form {
    max-width: 555px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    input {
      height: 55px;
      width: 100%;
      border-radius: 28px;
      background-color: #ffffff;
      padding: 0 30px;
      border: none;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      width: 110px;
      height: 55px;
      border-radius: 28px;
      background-color: #0674ec;
      color: #ffffff;
      font-size: 15px;
      font-weight: 400;
    }
  }
}
.category {
  background-color: #eff1f5;
  padding-top: 80px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__aside {
    max-width: 263px;
    width: 100%;
    margin-right: 30px;
  }

  &__aside-inner {
    width: 100%;
    padding: 31px 30px 34px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    & + & {
      margin-top: 29px;
    }
  }

  &__aside-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
    color: #010101;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    &::after {
      content: "\e925";
      position: absolute;
      right: 0;
      top: 5px;
      font-family: 'icomoon';
      font-size: 12px;
      font-weight: 400;
      color: #555555;
    }
  }

  &__aside-list {
    margin-top: 30px;
    li {
      display: flex;
      justify-content: space-between;
      color: #555555;
      font-size: 15px;
      font-weight: 400;
      line-height: 36px;
    }
  }

  &__aside-product {
    padding-left: 19px;
    position: relative;
    &::before {
      content: "\e910";
      position: absolute;
      left: 0;
      font-size: 10px;
      font-weight: 400;
      color: #747b86;
      font-family: 'icomoon';
    }
    &.circle {
      &::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #747b86;
        top: 14px;
      }
    }
  }
  &__aside-wrapper-btn {
    text-align: center;
    margin-top: 75px;
  }
  &__aside-btn {
    max-width: 170px;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    background-color: #0674ec;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
  }
  .irs--round .irs-line {
    top: 36px;
    height: 6px;
    background-color: #efedf3;
    border-radius: 3px;
  }
  .irs--round .irs-bar--single {
    border-radius: 3px;
  }
  .irs--round .irs-bar {
    top: 36px;
    height: 6px;
    background-color: #7347c1;
  }
  .irs--round .irs-handle {
    top: 30px;
    width: 18px;
    height: 18px;
    border: 4px solid #0674ec;
  }
  .irs--round .irs-max, .irs--round .irs-min {
    top: 60px;
  }
  .irs--round .irs-from, .irs--round .irs-single, .irs--round .irs-to {
    background-color: rgba($color: #7347c1, $alpha: 0.1);
    font-size: 15px;
    color: #7347c1;
    border-radius: 16px;
    padding: 0 23px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .irs-from, .irs-single, .irs-to {
    top: 66px;
  }
  .irs--round .irs-from:before, .irs--round .irs-single:before, .irs--round .irs-to:before {
    display: none;
  }
  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 262px;
    height: 372px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 30px;
    &.list {
      width: 100%;
      height: 210px;
      display: flex;
      .category__item-image {
        width: 230px;
        height: 100%;
        border-radius: 4px 0 0 4px;
        flex-shrink: 0;
      }
      .category__item-wrapper {
        display: flex;
        padding: 29px 30px 29px 19px;
      }
      .category__item-info {
        padding: 0 30px 0 0;
        margin-top: 0;
        padding-right: 30px;
        border-right: 1px solid #ececec;
      }
      .category__item-text {
        display: block;
      }
      .category__item-product {
        display: none;
        color: #7347c1;
        padding-left: 21px;
        font-size: 15px;
        font-weight: 400;
        position: relative;
        &.grid {
          display: none;
        }
        &.list {
          display: block;
        }
        &::before {
          content: '';
          position: absolute;
          left: 0;
          background-image: url(../../img/icons/wordpress.svg);
          width: 16px;
          height: 16px;
        }
      }
      .category__item-profile {
        margin-top: 0;
        padding: 0 49px 0 19px;
        border-right: 1px solid #ececec;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        border-bottom: none;
      }
      .category__item-social {
        display: block;
      }
      .category__item-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
      }
      .category__item-rate {
        margin-top: 16px;
        display: flex;
        align-items: center;
        span {
          display: block;
          color: #6f7d8d;
          font-size: 15px;
          font-weight: 400;
          margin-left: 10px;
        }
      }
      .category__item-author {
        margin-bottom: 20px;
      }
      .category__item-cart {
        color: $blue;
        font-size: 15px;
        font-weight: 400;
        padding-left: 24px;
        position: relative;
        &.grid {
          display: none;
        }
        &.list {
          display: block;
          margin-top: 30px;
        }
        &::before {
          content: "\e90e";
          position: absolute;
          left: 0;
          font-family: 'icomoon';
        }
      }
    }
    &-image {
      width: 100%;
      height: 160px;
      background-color: #009688;
    }
    &-wrapper {
      
    }
    &-info {
      padding: 0 19px;
      margin-top: 18px;
    }
    &-profile {
      padding: 0 19px;
      margin-top: 18px;
      padding-bottom: 15px;
      border-bottom: 1px solid #ececec;
    }
    &-title {
      color: #000000;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
    &-text {
      display: none;
      margin-top: 5px;
      margin-bottom: 20px;
      color: #555555;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
    }
    &-product {
      display: none;
      color: #7347c1;
      padding-left: 21px;
      font-size: 15px;
      font-weight: 400;
      position: relative;
      &.grid {
        display: block;
      }
      &.list {
        display: none;
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        background-image: url(../../img/icons/wordpress.svg);
        width: 16px;
        height: 16px;
      }
    }
    &-author {
      display: flex;
      align-items: center;
    }
    &-avatar {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #7347c1;
      margin-right: 9px;
    }
    &-name {
      color: #000000;
      font-size: 15px;
      font-weight: 400;
    }
    &-social {
      display: none;
      color: #6f7d8d;
      font-size: 15px;
      font-weight: 400;
    }
    &-loves {
      padding-left: 22px;
      position: relative;
      &::before {
        content: "\e90f";
        position: absolute;
        left: 0;
        color: #7f4ec2;
        font-family: 'icomoon';
      }
    }
    &-comments {
      margin-top: 10px;
      padding-left: 22px;
      position: relative;
      &::before {
        content: "\e903";
        position: absolute;
        left: 0;
        color: #7f4ec2;
        font-family: 'icomoon';
      }
    }
    &-price {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
    }
    &-rate {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        display: none;
      }
    }
    
    &-sum {
      color: $blue;
      font-size: 15px;
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 15px;
      background-color: rgba($color: $blue, $alpha: 0.1);
    }
    &-cart {
      color: $blue;
      font-size: 15px;
      font-weight: 400;
      padding-left: 24px;
      position: relative;
      &::before {
        content: "\e90e";
        position: absolute;
        left: 0;
        font-family: 'icomoon';
      }
      &.list {
        display: none;
      }
      &.grid {
        display: block;
      }
    }
  }


  .pagination {
    margin-top: 30px;
    text-align: right;
  }
  .blue__title {
    margin-top: 120px;
  }
}
